.menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    list-style: none;
    padding: 5px 0;
    width: 100px;
    border-radius: 2%;
    border: 1px solid rgb(184, 184, 184);
}

.menu__item {
    background-color: white;
    margin: 0;
    font-size: medium;
    padding: 10px 5px;
    cursor: pointer;
    text-decoration: none;
    text-decoration: none;
    color: black;
}

.menu__item:hover {
    background-color: rgb(202, 202, 202);
}
