.add_article__button {
    padding: 15px 10px 15px 10px;
    border-radius: 5%;
    outline: none;
    border: 2px solid rgb(19, 197, 13);
    background-color: rgb(28, 185, 28);
    color: white;
    font-size: medium;
    cursor: pointer;
}

.add_article__button:hover{
    background-color: rgb(12, 114, 12)
}