.menu__item {
    background-color: white;
    margin: 0;
    font-size: medium;
    padding: 10px 5px;
    cursor: pointer;
    text-decoration: none;
    text-decoration: none;
    color: black;
}

.menu__item:hover {
    background-color: rgb(202, 202, 202);
}

