.articles-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.load-more__button {
    display: flex;
    margin-top: 30px;
}